<div class="container">
  <div class="my-container p-2 m-5">
  <h1 class="pb-2">Stupid Coaching</h1>
    <div class="your-question">
    <p><%= @question %><p>
    <p><em>-You</em></p>
    </div>
    <div class="coach-answer">
    <p><%= @answer %><p>
    <p><em>-Stupid Coach</em></p>
    </div>
    <p><%= link_to "Ask again", ask_path %></p>
  </div>
</div>
