<div class="row">
  <h1 class="col-12">Stupid Coaching</h1>

  <h5 class="col-12">What do you want to ask?</h5 >
  <form action="answer" data-turbo="false" class="col-12">
    <input type="text" name="question" value="<%= params[:answers] %>">
    <button type="submit" class="btn btn-primary">Ask me!</button>
  </form>
</div>
